.button {
    -fx-background-color: #FFF;
    -fx-background-radius: 15px / 20px;
    -fx-border-color: #CFCFCF;
    -fx-border-radius: 15px / 20px;
    -fx-text-fill: #333333;
}

.button:hover {
    -fx-border-color: pink;
    -fx-effect: dropshadow(two-pass-box, pink, 2.25, 0.5, 0, 0);
}

.button:focused {
    -fx-border-color: #CFCFCF;
}

.button:pressed {
    -fx-background-color: #ffe9e9;
    -fx-border-color: pink;
}

.html-editor {
    -fx-padding: 5;
    -fx-background-color: #00000000;
    -fx-border-color: #CFCFCF;
    -fx-border-radius: 10px / 20px;
    -fx-background-radius: 10px / 20px;
    -fx-font-family: Consolas;
    -fx-text-fill: #333333;
    -fx-font-size: 12;
    -fx-font-scale: 100;
}

.html-editor:hover {
    -fx-border-color: pink;
    -fx-effect: dropshadow(two-pass-box, pink, 2.25, 0.5, 0, 0);
}

.html-editor:focused {
    -fx-border-color: pink;
    -fx-effect: dropshadow(three-pass-box, pink, 6, 0.5, 0, 0);
}

#root {
    -fx-background-color: #e5e5e5;
}

.label {
    -fx-text-fill: #344f71;
    -fx-font-family: Cambria;
}

.text-area {
    -fx-background-color: #00000000;
    -fx-border-color: #00000000;
    -fx-border-radius: 10px / 20px;
    -fx-background-radius: 10px / 20px;
    -fx-padding: 5;
    -fx-font-family: Consolas;
    -fx-font-size: 16;
    -fx-text-fill: #000000;
    -fx-font-scale: 100;
    -fx-font-smoothing-type: gray;
}

.text-area .content {
    -fx-background-color: #00000000;
}

.text-area .viewport {
    -fx-background-color: #00000000;
}