.button {
    -fx-background-color: #FFF;
    -fx-background-radius: 15px / 20px;
    -fx-border-color: #CFCFCF;
    -fx-border-radius: 15px / 20px;
    -fx-text-fill: #333333;
}

.button:hover {
    -fx-border-color: pink;
    -fx-effect: dropshadow(two-pass-box, pink, 2.25, 0.5, 0, 0);
}

.button:focused {
    -fx-border-color: #CFCFCF;
}

.button:pressed {
    -fx-background-color: #ffe9e9;
    -fx-border-color: pink;
}

.html-editor {
    -fx-background-color: #00000000;
    -fx-border-color: #CFCFCF;
    -fx-border-radius: 10px / 20px;
    -fx-background-radius: 10px / 20px;
    -fx-font-family: Monospaced;
    -fx-text-fill: #333333;
    -fx-font-size: 16px;
    -fx-font-scale: 100;
    -fx-bounds-type: logical-vertical-center;
}

.text-area {
    -fx-background-color: #00000000;
    -fx-border-color: #00000000;
    -fx-border-radius: 10px / 20px;
    -fx-background-radius: 10px / 20px;
    -fx-font-family: Monospaced;
    -fx-font-size: 16px;
    -fx-text-fill: #333333;
    -fx-font-scale: 1;
    -fx-tab-size: 4;
    -fx-bounds-type: logical-vertical-center;
}
.html-editor:hover {
    -fx-border-color: pink;
    -fx-effect: dropshadow(two-pass-box, pink, 2.25, 0.5, 0, 0);
}

.html-editor:focused {
    -fx-border-color: pink;
    -fx-effect: dropshadow(three-pass-box, pink, 6, 0.5, 0, 0);
}

#root {
    -fx-background-color: #e5e5e5;
}

.label {
    -fx-text-fill: #344f71;
    -fx-font-family: Cambria;
}

.text-area .content {
    -fx-padding: 9px 8px 9px 8px;
    -fx-background-color: #00000000;
    -fx-font-size:16px;
    -fx-tab-size: 4;
    -fx-font-scale: 1;
    -fx-bounds-type: logical-vertical-center;
}

.text-area .viewport {
    -fx-background-color: #00000000;
}